@import helper._
@(userForm: Form[Tuple2[String,String]])(createUserForm : Form[UserFormData])(errMsg:String)(implicit messages: play.api.i18n.Messages)
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }
@implicitFieldConstructor1 = @{ b3.horizontal.fieldConstructor("col-md-2", "col-md-10") }

@main("Welcome to my Application"){
    <section  id="about">
        <div class="container">
            <p>@errMsg</p>
            <div class="lead">
            @form(action=routes.HomeController.userLogin(),'class -> "form-horizontal" ) {
                @b3.email(userForm("userName"),'_label -> "Email", 'id -> "Email")
                @b3.password(userForm("password"),'_label -> "Password", 'id -> "Password")
                <div class="control-group">
                    <div class="controls">
                        <input id="submit" type="submit" value="Login" class="btn btn-primary">
                    </div>
                </div>
            }
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">click here to sign up</button>
        </div>
    </section>




    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
            @form(action=routes.HomeController.createUser,'class -> "form-horizontal" ) {
                @b3.text(createUserForm("name"), '_label -> "Name", '_help -> "A Name between 1 and 20 characters")
                @b3.number(createUserForm("age"), '_label -> "Age", '_help -> "From 18 to 99 years old")
                @b3.email(createUserForm("email"), '_label -> "Email")
                @b3.password(createUserForm("password"), '_label -> "Password")
                <div class="control-group">
                    <div class="controls">
                        <input id="submit" type="submit" value="Sign Up" class="btn btn-primary">
                    </div>
                </div>
            }
            </div>
        </div>
    </div>



}

