@(title : String)
<!DOCTYPE html>
<html lang="en" ng-app="Recommendation">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> @title </title>

      <!-- Bootstrap Core CSS -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom CSS -->
    <link href="/assets/stylesheets/heroic-features.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.1.1/rzslider.css" rel="stylesheet">
    <link href="/assets/stylesheets/rz.css" rel="stylesheet">

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.1.1/rzslider.min.js"></script>


    <script src = "/assets/javascripts/recommendation.js"></script>
    <script src="/assets/javascripts/Chart.js"></script>
    <script src="/assets/javascripts/angular-chart.js"></script>




  </head>

  <body ng-controller = "RecommendationController">

      <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/getAnalysisCharts">Analysis Charts</a>
        </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="/getReccommendationPage">Recommendation</a>
            </li>
            <li>
              <a href="/logout">logout</a>
            </li>
          </ul>
        </div>
          <!-- /.navbar-collapse -->
      </div>
        <!-- /.container -->
    </nav>

      <!-- Page Content -->


        <!-- Jumbotron Header -->
      <div class="container">

          <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
          <h3>A Warm Welcome!</h3>
          <p>Listings Recommendation for Newyork</p>
        </header>
        <hr>



      </div>

    <div class="container">
      <div class="row">

          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1"  ng-model ="RecommendationPreference.prefferedPlace"> Most Common Place(Where most of the listings are from)
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2"  ng-model ="RecommendationPreference.luzury"> What about the Luzury!
            </label>
          </div>
          <div class="form-check form-check-inline disabled">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3"  ng-model ="RecommendationPreference.commomPlace"> Any Place
            </label>
          </div>
          <button ng-click="getRecommendation()" class="btn btn-info">Get Recommendation</button>

      </div>





      <div class="row">
        <div class="col-md-6 portfolio-item">
          <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x400" alt="">
          </a>
          <h3>
            <a href="#">Project One</a>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-md-6 portfolio-item">
          <a href="#">
            <img class="img-responsive" src="http://placehold.it/700x400" alt="">
          </a>
          <h3>
            <a href="#">Project Two</a>
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>


        <!-- /.row -->

      <hr>

    </div>
        <!-- Footer -->
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; Your Website 2014</p>
          </div>
        </div>
      </footer>



    <!-- /.container -->

    <!-- jQuery -->

  <script src="assets/vendor/bootstrap/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
  <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>



  </body>

</html>
