@(title : String)
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> @title </title>

      <!-- Bootstrap Core CSS -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom CSS -->
    <link href="/assets/stylesheets/heroic-features.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.1.1/rzslider.css" rel="stylesheet">
    <link href="/assets/stylesheets/rz.css" rel="stylesheet">

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.1.1/rzslider.min.js"></script>


    <script src = "/assets/javascripts/recommendation.js"></script>
    <script src="/assets/javascripts/Chart.js"></script>
    <script src="/assets/javascripts/angular-chart.js"></script>




  </head>

  <body>

      <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/getAnalysisCharts">Analysis Charts</a>
        </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="/getReccommendationPage">Recommendation</a>
            </li>
            <li>
              <a href="/logout">logout</a>
            </li>
          </ul>
        </div>
          <!-- /.navbar-collapse -->
      </div>
        <!-- /.container -->
    </nav>

      <!-- Page Content -->


        <!-- Jumbotron Header -->
      <div class="container">

          <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
          <h3>Listings Recommendation for Newyork(Based on 2016 Data)</h3>
          <h4>Collaborative filtering Using  alternating least squares (ALS) Algorithm From Spark MLib</h4>
          <h4>Set of Listings with the Good Average Ratings Have been selected</h4>
          <h4>Top 3 Listings Will Be Selected From the above set And Will be asked to the Users about his/her Preference</h4>
          <h4> MLlib’s ALS to train a MatrixFactorizationModel, which takes a RDD[Rating] object as input in Scala and RDD[(user, Listing, Average Ratings)]</h4>
        </header>
        <hr>



      </div>

    <div class="container">

        <h3>Please give your preference for the below listings(1(low) to 9(high))</h3>
        <div class="row">
          <div class="form-group">
            <h3>How much do you prefer (Renovated garden studio in Astoria type of Listings)</h3>
            <a href="https://www.airbnb.com/rooms/13186007">Click Here to see this listings Details</a>
            <select class="form-control" id="exampleSelect1">
              <option  value="1" selected>1</option>
              <option  value="2">2</option>
              <option  value="3" >3</option>
              <option  value="4">4</option>
              <option  value="5" >5</option>
              <option  value="6">6</option>
              <option  value="7" >7</option>
              <option  value="8">8</option>
              <option value="9" >9</option>
            </select>
          </div>
        </div>
      <div class="row">
        <div class="form-group">
          <h3>A sunny bedroom in a spacious of</h3>
          <a href="https://www.airbnb.com/rooms/13379269">Click Here to see this listings Details</a>
          <select class="form-control" id="exampleSelect2">
            <option  value="1" selected>1</option>
            <option  value="2">2</option>
            <option  value="3" >3</option>
            <option  value="4">4</option>
            <option  value="5" >5</option>
            <option  value="6">6</option>
            <option  value="7" >7</option>
            <option  value="8">8</option>
            <option value="9" >9</option>

          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <h3>King sz. Bed Big pullout Couch (type of Listing)</h3>
          <a href="https://www.airbnb.com/rooms/15482994">Click Here to see this listings Details</a>
          <select class="form-control" id="exampleSelect3">
          <option  value="1" selected>1</option>
          <option  value="2">2</option>
          <option  value="3" >3</option>
          <option  value="4">4</option>
          <option  value="5" >5</option>
          <option  value="6">6</option>
          <option  value="7" >7</option>
          <option  value="8">8</option>
          <option value="9" >9</option>
          </select>
        </div>
      </div>
          <button onclick="getRecommendation()" class="btn btn-info">Get Recommendation</button>

    </div>

    <hr>
    <div class = "container" id = "recommendation">


    </div>



      <p></p>

      <div class="row" id = "recommendation">
        @*<div class="col-md-6 portfolio-item" >

          <a href="{{listings[0]}}">
            <img class="img-responsive" src="{{listings[1]}}" alt="Some Listing Image">
          </a>
          <h3>
            <a href="{{listings[0]}}">Click here to See Details</a>
          </h3>
          <p>{{listings[2]}}</p>
        </div>*@
      </div>


        <!-- /.row -->

      <hr>






    <!-- /.container -->

    <!-- jQuery -->

  <script src="assets/vendor/bootstrap/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
  <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>



  </body>

</html>
