@(title : String)
<!DOCTYPE html>
<html lang="en" ng-app="Recommendation">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> @title </title>

      <!-- Bootstrap Core CSS -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom CSS -->
    <link href="/assets/stylesheets/heroic-features.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.1.1/rzslider.css" rel="stylesheet">
    <link href="/assets/stylesheets/rz.css" rel="stylesheet">

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.1.1/rzslider.min.js"></script>


    <script src = "/assets/javascripts/recommendation.js"></script>
    <script src="/assets/javascripts/Chart.js"></script>
    <script src="/assets/javascripts/angular-chart.js"></script>




  </head>

  <body ng-controller = "RecommendationController">

      <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/getAnalysisCharts">Analysis Charts</a>
        </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="/getReccommendationPage">Recommendation</a>
            </li>
            <li>
              <a href="/logout">logout</a>
            </li>
          </ul>
        </div>
          <!-- /.navbar-collapse -->
      </div>
        <!-- /.container -->
    </nav>

      <!-- Page Content -->


        <!-- Jumbotron Header -->
      <div class="container">

          <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
          <h3>A Warm Welcome!</h3>
          <p>All MapReduce Analysis Results can be seen in this page</p>
          <p><a class="btn btn-primary btn-large">Call to action!</a>
          </p>
        </header>
        <hr>


        <div class="row">
          <div class="form-group">
            <h3>Select city for which you want the Analysis</h3>
            <select class="form-control" id="exampleSelect1" ng-change="getInitialAnalysis(city)" ng-model="city">
              <option  value="Newyork" selected>Newyork</option>
              <option  value="Chicago">Chicago</option>
            </select>
          </div>
        </div>
      </div>

    <div class="container">
      <div class="row">
        <div class="form-group">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1"  ng-model ="RecommendationPreference.prefferedPlace"> Most Preferred Place
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2"  ng-model ="RecommendationPreference.luzury"> Luzury
            </label>
          </div>
          <div class="form-check form-check-inline disabled">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3"  ng-model ="RecommendationPreference.commomPlace"> Any Place
            </label>
          </div>
          <button ng-click="getRecommendation()">Get Recommendation</button>
        </div>
        <p>{{Recommendation}}</p>
      </div>



        <!-- Title -->
      <div class="row">
        <div class="col-lg-12">
          <h3>Latest Features</h3>
        </div>
      </div>
        <!-- /.row -->

        <!-- Page Features -->
      <div class="row text-center">

        <div class="col-md-3 col-sm-6 hero-feature">
          <div class="thumbnail">
            <img src="http://placehold.it/800x500" alt="">
            <div class="caption">
              <h3>Feature Label</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <p>
                <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
              </p>
            </div>
          </div>
        </div>


      </div>
        <!-- /.row -->

      <hr>

    </div>
        <!-- Footer -->
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p>Copyright &copy; Your Website 2014</p>
          </div>
        </div>
      </footer>



    <!-- /.container -->

    <!-- jQuery -->

  <script src="assets/vendor/bootstrap/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
  <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>



  </body>

</html>
