@(title : String)
<!DOCTYPE html>
<html lang="en" ng-app ="MapReduceAnalysis">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> @title </title>

      <!-- Bootstrap Core CSS -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom CSS -->
    <link href="/assets/stylesheets/heroic-features.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.1.1/rzslider.css" rel="stylesheet">
    <link href="/assets/stylesheets/rz.css" rel="stylesheet">

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-slider/6.1.1/rzslider.min.js"></script>


    <script src = "/assets/javascripts/user.js"></script>
    <script src="/assets/javascripts/ng-infinite-scroll.min.js"></script>
    <script src="/assets/javascripts/Chart.js"></script>
    <script src="/assets/javascripts/angular-chart.js"></script>




  </head>

  <body  id = "MainAnalysisController" ng-controller="MainAnalysisController" ng-init="getInitialAnalysis(city)">

      <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/getAnalysisCharts">Analysis Charts</a>
        </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="/getReccommendationPage">Recommendation</a>
            </li>
            <li>
              <a href="/logout">logout</a>
            </li>
          </ul>
        </div>
          <!-- /.navbar-collapse -->
      </div>
        <!-- /.container -->
    </nav>

      <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
      <header class="jumbotron hero-spacer">
        <h3>A Warm Welcome!</h3>
        <p>All MapReduce Analysis Results can be seen in this page</p>
        <p><a class="btn btn-primary btn-large">Call to action!</a>
        </p>
      </header>
      <hr>


      <div class="row">
        <div class="form-group">
          <h3>Select city for which you want the Analysis</h3>
          <select class="form-control" id="exampleSelect1" ng-change="getInitialAnalysis(city)" ng-model="city">
            <option  value="Newyork" selected>Newyork</option>
            <option  value="Chicago">Chicago</option>
          </select>
        </div>
      </div>
    </div>


    <div class="container"  >

      <div class="row">
        <div class="col-lg-12">
          <h2>Average Price of the Listings By Different type of Listings</h2>
        </div>
      </div>

      <div class="row" id = "staytype">
        <div class="col-lg-8">
          <canvas id="bar" class="chart chart-bar"
          chart-data="data" chart-labels="labels">
          </canvas>
          <canvas id="doughnut" class="chart chart-doughnut"
          chart-data="data" chart-labels="labels">
          </canvas>
        </div>

        <div class="col-lg-4">
          <h3>Description About the Pattern</h3>
          <h3>Numerical Summerizartion Pattern ! And Stored results HBASE</h3>
        </div>

      </div>

      <hr>

      <div class="row">
        <div class="col-lg-12">
          <h2>Average Price by Number of Rooms of The listings</h2>
        </div>
      </div>

      <div  class="row" id="NoOfRooms">
        <div class="col-lg-8">
          <canvas id="bar" class="chart chart-bar"
          chart-data="data1" chart-labels="labels1">
          </canvas>
          <canvas id="doughnut" class="chart chart-doughnut"
          chart-data="data1" chart-labels="labels1">
          </canvas>
        </div>

        <div class="col-lg-4">
          <h3>Description About the Pattern</h3>
          <h3>Numerical Summerization Pattern! And Stored results HBASE</h3>
        </div>

      </div>

      <hr>

      <div class="row">
        <div class="col-lg-12">
          <h2>Number of listings By Review Score </h2>
        </div>
      </div>

      <div  class="row" id="Listings2">
        <div class="col-lg-8">
          <canvas id="bar" class="chart chart-bar"
          chart-data="data2" chart-labels="labels2">
          </canvas>
          <canvas id="line" class="chart chart-line" chart-data="data2"
          chart-labels="labels2">
          </canvas>
          <canvas id="pie" class="chart chart-pie"
          chart-data="data2" chart-labels="labels2" chart-options="options">
          </canvas>
        </div>

        <div class="col-lg-4">
          <h2>Description About the Pattern</h2>
          <h2>Implemented this Using Pig Script And Stored Result in the HBase</h2>
        </div>

      </div>


      <hr>

      <div class="row">
        <div class="col-lg-12">
          <h2>Sentiment Analysis for the Listings Reviews </h2>
        </div>
      </div>

      <div  class="row" id="Listings3">
        <div class="col-lg-8">
          <canvas id="bar" class="chart chart-bar"
          chart-data="data3" chart-labels="labels3">
          </canvas>
          <canvas id="line" class="chart chart-line" chart-data="data3"
          chart-labels="labels3">
          </canvas>
          <canvas id="pie" class="chart chart-pie"
          chart-data="data3" chart-labels="labels3" chart-options="options">
          </canvas>
        </div>

        <div class="col-lg-4">
          <h3>Description About the Pattern</h3>
          <h3>Used Apache Mahout (Naive Bayes Algorithm)</h3>
        </div>

      </div>






      <hr>
        <!-- Title -->
      <div class="row">
        <div class="col-lg-6">
          <h2>Top Ten Listings By Reviews Per Month</h2>
        </div>
        <div class="col-ld-6">
        <button ng-click="getTop10Litings(city)" class="btn btn-info">Get Top 10 Listings By reviews</button>
        </div>
      </div>
        <!-- /.row -->

      <div class="row">
        <div class="col-lg-12">
          <h2>Top K Pattern</h2>
        </div>
      </div>

        <!-- Page Features -->
      <div class="row" ng-repeat="listing in top10">

        <div class="col-md-12 hero-feature" >
          <div class="thumbnail">
            <img src="{{listing.ListingUrl}}" alt="Some Image">
            <div class="caption">
              <h3>{{listing.ReviewsPerMonth}}</h3>
              <p>Host Name : <span>{{listing.PictureUrl}}</span></p>
              <p>
                <a href="{{listing.HostName}}" class="btn btn-primary">Click Here To View Details</a>
              </p>
            </div>
          </div>
        </div>
      </div>
        <!-- /.row -->

      <hr>



    </div>

      <!-- /.container -->

      <!-- jQuery -->

    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-visible/1.2.0/jquery.visible.js"></script>

      <!-- Bootstrap Core JavaScript -->
    <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>


    <script>



          /*if($('#staytype').visible(true)){
            alert("Hi");
            angular.element(document.getElementById('MainAnalysisController')).scope().getAnalysisForStayType();
            //angular.element('#MainAnalysisController').scope().getAnalysisForStayType();
          }*/
        /*  $(function () {
            if($('#NoOfRooms').visible(true)){
              alert("Hi");
              angular.element(document.getElementById('MainAnalysisController')).scope().getAnalysisByNoOfRooms(city);
              //angular.element('#MainAnalysisController').scope().getAnalysisForStayType();
            }
          });*/







    </script>
  </body>

</html>
